body[_nghost-ng-c1078199139] {
    background-color: rgb(169, 216, 235);
}

body [_nghost-ng-c1078199139] {
    display: contents; /* or whatever style you need */
}

c-container{
    display: contents;
}